
/* 360px - Mobile */

@media screen and (min-width: 360px) {
    .container {
        /* 360px - Mobile */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        position: relative;
        width: 100%;
        height: 100vh;
    }
    
    div.container > div.header {
        /* header */

        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 0px;
        gap: 24px;

        width: 296px;
        height: 100vh;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    div.container > div.content {
        /* content */

        /* Auto layout */

        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        align-items: flex-start;
        padding:24px 0px;
        gap: 24px;

        width: 296px;
        height: 698px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span.title {
        /* Selected Motion Graphic Works */
        width: 275px;
        height: 240px;

        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 67px;
        line-height: 90%;
        /* or 60px */

        text-align: right;
        text-transform: capitalize;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    span.author {
        /* of Michael Andrey Reynardi Adiwarsito */


        width: 157px;
        height: 12px;

        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        /* identical to box height */

        text-align: right;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;   
    }
    span.socmed-author {
        /* @otisrawida miadiwar@gmail.com */

        width: 89px;
        height: 24px;

        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        text-align: right;

        color: #FFFFFF;

        padding-bottom: 24px;


        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }
    div.content-title {
        width: 275px;
        height: 102px;
        
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 90%;
        /* or 34px */
        
        text-transform: capitalize;
        
        color: #FFFFFF;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .karya {
        /* unsplash:PSOvH4dfrmg */
        width: 296px;
        height: 296px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    div.content-desc {
        /* content-desc */

        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 296px;
        height: 204px;

        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }
    .body {
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 130%;
    }
    .body2 {
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
    }
    div.content-desc > div.glance {
        /* glance */

        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 296px;
        height: 63px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    span.desc-title {
        font-family: 'Sentient';
        font-style: light;
        font-weight: 300;
        font-size: 7px;
        line-height: 95%;
        /* identical to box height, or 7px */

        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.5);


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    span#glance-content{
        width: 296px;
        height: 48px;

        text-align: left;
        /* or 12px */

        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    div.other-info {
        /* other-info */

        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 296px;
        height: 117px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    div.other-info > div.categories {
        /* categories */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 136px;
        height: 100px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    div.categories > div.fow {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 160px;
        height: 51px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    div.categories > div.keyword {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 256px;
        height: 33px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span#key-content {
        width: 84px;
        height: 18px;

        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span#fow-content {
        /* News and Editorial */
        width: 76px;
        height: 36px;

        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    div.other-info > div.roles {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 136px;
        height: 117px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    div.project {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 46px;
        height: 25px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    div.supervisor {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 117px;
        height: 35px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    div.designer {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 64px;
        height: 25px;


        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }
    span#pu-content {
        width: 44px;
        height: 10px;
        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span#spv {
        width: 117px;
        height: 20px;

        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    span#ace {
        width: 64px;
        height: 10px;   
        
        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
}
